<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Employee Attendance
      </div>
      <div class="card-body">

        <div class="row">

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
              <label>dateFrom</label>
              <input class="form-control" type="text" [(ngModel)]="dateFrom">
            </div>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
              <label>date To</label>
              <input class="form-control" type="text" [(ngModel)]="dateTo">
            </div>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
              <label>EmployeeId</label>
              <input class="form-control" type="text" [(ngModel)]="EmployeeId">
            </div>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-default" (click)="GetAttendance()">
              View
            </button>
          </div>




        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Minutes worked</th>
                <th>Status</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Late Minute</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i= index">
                <td>{{item.Date}}</td>
                <td>{{item.TimeIn}}</td>
                <td>{{item.TimeOut}}</td>
                <td>{{item.MintuesWorked}}</td>
                <td>{{item.Status}}</td>
                <td>{{item.StartTime}}</td>
                <td>{{item.EndTime}}</td>
                <td>{{item.LateMinute}}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
