.btn-default {
  margin-top: 32px;
}

.data-lab {
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* @media only screen and (max-width: 480px) {
  .data-lab {
    font-size: 8px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
} */
