<div class="row">
  <div class="col-12">
     <div class="card">
       <div class="card-header">
         Payslip
       </div>
       <div class="card-body">

          <div class="row">
             <div class="col-4">
               <div>Salary Slip# : {{ProcessId}}</div>
               <div>Employee Name: {{EmployeeName}}</div>
               <div>Department : {{DepartmentName}}</div>
             </div>
             <div class="col-4">
             </div>
             <div class="col-4">
              <div>Employee Code : {{EmployeeCode}}</div>
              <div>Branch : {{BranchName}}</div>
              <div>Salary Of Month : </div>
             </div>
          </div>

          <div class="row">
             <div class="col-2">
               <div>present days : {{PresentDays}}</div>
             </div>
             <div class="col-2">
               <div>Absent: {{Absent}}</div>
             </div>
             <div class="col-2">
               <div>Late: {{Lates}}</div>
             </div>
             <div class="col-2">
               <div>Over Time: {{OverTimeSalary}}</div>
             </div>
             <div class="col-2">
               <div>Worked hours: {</div>
             </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div>Leaves: Leaves</div>
            </div>
            <div class="col-6">
              <div>Half Days: Half Days</div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <div>Basic Pay: Basic pay</div>
            </div>
            <div class="col-2">
              <div>Total Allowance: Total Allowance</div>
            </div>
            <div class="col-2">
              <div>Over Time: Over Time</div>
            </div>
            <div class="col-2">
              <div>Add Income: Add Income</div>
            </div>
            <div class="col-2">
              <div>Total Earnings: Total Earnings</div>
            </div>
          </div>


          <div class="row">
            <div class="col-2">
              <div>Loan: Loan</div>
            </div>
            <div class="col-2">
              <div>advance: advance</div>
            </div>
            <div class="col-2">
              <div>Loan: Loan</div>
            </div>
            <div class="col-2">
              <div>Tax: Tax</div>
            </div>
            <div class="col-2">
              <div>EOBI: EOBi</div>
            </div>

            <div class="col-2">
              <div>Total Deduction: Total Deduction</div>
            </div>


          </div>

          <div class="row">
            <div class="col-12">
              <div class="float-right">
                <div>Final Salary : Final Salary</div>
              </div>
            </div>
          </div>



       </div>
     </div>
  </div>
</div>
