<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        Loan Ledger
      </div>
      <div class="card-body">

        <div class="row">

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
              <label>dateFrom</label>
              <input class="form-control" type="text" [(ngModel)]="dateFrom">
            </div>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
              <label>date To</label>
              <input class="form-control" type="text" [(ngModel)]="dateTo">
            </div>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
              <label>EmployeeId</label>
              <input class="form-control" type="text" [(ngModel)]="EmployeeId">
            </div>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-default" (click)="GetLoanLedger()">
              View
            </button>
          </div>




        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>LoanName</th>
                <th>Remarks</th>
                <th>LoanAmount</th>
                <th>DeductionAmount</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngIf="!data.length">
                <div class="text-center p-3">
                  <p>{{message}}</p>
                </div>
              </tr>

              <tr *ngFor="let item of data">
                <td>{{item.Date}}</td>
                <td>{{item.LoanName}}</td>
                <td>{{item.Remarks}}</td>
                <td>{{item.LoanAmount}}</td>
                <td>{{item.DeductionAmount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

  </div>

</div>
